@inherits MvvmViewModelComponentBase<OrderViewModel>

<Text>@Id - @ViewModel?.OrderId</Text>


@if (SelectedOrderId < 0)
{
   <Heading Size="HeadingSize.Is5" TextAlignment="TextAlignment.Center" Italic="true">Select an order to see the details</Heading>
}
else if (ViewModel is not { IsLoaded: true })
{
   <WaitingCube />
}
else
{
   <Row>
      <Column>
         <Card Margin="Margin.Is4.OnY.Is4.OnX">
            <CardHeader Style="background-color: #e0e0e0">
               <CardTitle>Details for order @Bind(x => x.OrderId), shipped by @Bind(x => x.ShipperName)</CardTitle>
            </CardHeader>
            <CardBody>
               <Fields>
                  <Field ColumnSize="ColumnSize.Is3" Padding="Padding.Is2.OnX.Is2.OnY">
                     <FieldLabel>Order ID</FieldLabel>
                     <FieldBody>
                        <TextEdit Text="@ViewModel.OrderId.ToString()" TextChanged="@(orderId => ViewModel.OrderId = Convert.ToInt64(orderId))" />
                     </FieldBody>
                  </Field>
                  <Field ColumnSize="ColumnSize.Is3" Padding="Padding.Is2.OnX.Is2.OnY">
                     <FieldLabel>Shipper</FieldLabel>
                     <FieldBody>
                        <TextEdit @bind-Text="@ViewModel.ShipperName" />
                     </FieldBody>
                  </Field>
               </Fields>
            </CardBody>
         </Card>
      </Column>
   </Row>
   <Row>
      <Column Margin="Margin.Is4.OnY.Is4.OnX">
         <Fields>
            <Field ColumnSize="ColumnSize.Is2" Padding="Padding.Is2.OnX.Is2.OnY">
               <Button Color="Color.Secondary" Disabled="@Bind(x => x.DisableSave)" Clicked="@HiThereClicked">Hi there</Button>
            </Field>
            <Field ColumnSize="ColumnSize.Is2" Padding="Padding.Is2.OnX.Is2.OnY">
               <Button Color="Color.Secondary" Disabled="@Bind(x => x.DisableSave)" @onclick="@(()=>HiThereClicked())">Hi there</Button>
            </Field>
            <Field ColumnSize="ColumnSize.Is3" Padding="Padding.Is2.OnX.Is2.OnY">
               <Text>@_sayHello</Text>
            </Field>
         </Fields>
      </Column>
   </Row>
}

@code {
   private string _sayHello;
   private void HiThereClicked()
   {
      _sayHello = $"Hello at {DateTime.Now.ToString("HH:mm:ss dd-MM-yyyy")}";
   }

   Task OnNameChanged(string value)
   {
      _sayHello = $"Nieuwe waarde voor order ID: {value}";
      return Task.CompletedTask;
   }
}
