@page "/"
@inherits MvvmViewModelComponentBase<DashboardViewModel>

@if (this.ViewModel?.Customers == default)
{
   <WaitingCube />
}
else
{
   <Tabs SelectedTab="@Bind(x => x.SelectedItem)" SelectedTabChanged="@ViewModel.SetSelectedTab">
      <Items>
         @foreach (var customer in this.ViewModel.Customers)
         {
            <Tab Name="@customer.CompanyId" @key=customer>@customer.CompanyName</Tab>
         }
         <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
      </Items>
      <Content>
         @foreach (var customer in this.ViewModel.Customers)
         {
            <TabPanel Name="@customer.CompanyId">
               <Snijderman.Samples.Blazor.Mvvm.Components.MainTabContent ViewModelInput="@customer" />
            </TabPanel>
         }
      </Content>
   </Tabs>
}
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
